/* ------------------------BASE ET POLICE --------------*/

body 
{
    padding: 0px;
    position: relative;
    background-color: white;
    overflow-x: hidden;
    margin: 0;
}

@font-face
{
    font-family: "Amalfi Coast";
    src: 
    url("Amalfi Coast.ttf");
}

/*------------------------------------TITRE ------------------------*/
h1{
    font-family: "Amalfi Coast";
    color: #707070;
    font-weight: initial;
    margin-bottom: 0px;
}
#titre_projets h1{
    font-family: 'Poiret One';
    font-size: 50px;
}
#trait_projet{
    background-color: #F2CBCA;
    width: 209px;
    height: 2px;
}
.titre_souligner_parcour h2, #titre_competences h2{
    font-family: 'Poiret One';
    color: #707070;
    font-size: 42px;
    font-weight: normal;
    margin-bottom: inherit;
}
.titre_souligner_parcour, #titre_competences{
    margin-left: 75px;
}
#texte h2
{
    font-weight: bold;
    color: #535353;
    font-size: 67px;
}
.titre_rose h3{
    font-family: 'Poiret One';
    font-size: 23px;
    font-weight: inherit;
    color : #707070;
    margin-left: 14px;
}
#mes_competences h3{
    color: #707070;
    font-family: 'Poiret One';
    font-weight: normal;
    font-size: 32px;
}
h4
{
    font-size: 23px;
    margin: 0;
    color: #535353;
}
.trait_titre{
    background-color: #F2CBCA;
    width: 190px;
    height: 2px;
}
#titre_contact p, #titre_contact h1{
    font-family: 'Poiret One';
    color: #707070;
    font-size: medium;
    font-size: 38px;
    font-weight: unset;
    margin: 0;
}
#titre_contact .trait_titre{
    height: 2px !important;
    margin-left: 0 !important;
    width: 168px;

}
#titre_admin h1{
    font-family: 'Poiret One';
    color: #707070;
    font-weight: 100;
    font-size: 50px;
}

/* ------------------------------ ACCUEIL ----------------------*/
span{
    font-family: "Amalfi Coast";
    float: left;
    font-size: 42px;
    MARGIN-RIGHT: 12px;
    margin-bottom: -31px;
    height: 102px;
}
#connectionAdmin 
{
    display: flex;
    justify-content: flex-end;
}
i.fas.fa-lock {
    color: #FFFEFC;
}
i.fas.fa-lock:hover
{
    color: #F2CBCA;
}
#fleur_gauche
{
    width: 30%;
    position: absolute;
}
#fleur_droite
{
    right: -1px;
    position: absolute;
    width: 40%;
}
#titre_accueil
{
    text-align: center;
    margin-top: 8%;
}
#titre_accueil p 
{
    font-family: 'Poiret One';
    color : #707070;
    margin-top: 0px;
}
#logo
{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 4%;
}
#logo img
{
    width: 50px;
    height: 50px;
    margin-right: 5%;
    cursor: pointer;
}
#logo a
{
    margin-right: 2%;
    margin-left: 2%;
    text-decoration: none;
    color: black;
    border: 2px solid #F2CBCA;
    width: 161px;
    height: 155px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: .25s;
    background-color: white;
}
#logo a:hover
{
    background-color: #FFFFFF;
    transform: scale(1.2);
    transition: 0.5s;
    z-index: 1;
}
i.fas.fa-user-graduate,i.fas.fa-desktop,i.fas.fa-envelope
{
    display: flex;
    justify-content: center;
    font-weight: 100;
    color: #F2CBCA;
    font-size: 3em;
    margin-top: 15%;
}



/*--------------------------------A PROPO DE MOI ------------------------*/
#retour_accueil
{
    font-size: 37pt;
    color: #F7DAD9;
    margin-left: 16px;
    margin-top: 12px;
}
#logo p
{
    color: #F2CBCA;
   text-align: center;
   font-family: 'Raleway', sans-serif;
}
.titre_page
{
    text-align: center;
}
#deco_titre
{
    display: flex;
    margin: auto;
    width: 40%;
}
/*-Partie passion-*/
#music
{
    position: absolute;
    left: 54%;
    top: 42%;
    border: 6px white solid;
}
#passion
{
    margin-top: 5%;
    height: 30em;
}
#passion p 
{
    width: 44%;
    position: relative;
    left: 47%;
    font-size: 29px;
    color: #707070;
    font-family: 'Poiret One';
}
#img_passion
{
    position: absolute;
    left: 9%;
}
#img_passion img
{
    width: 255px;
    height: 255px;
}
/*------*/
/*-Partie timeling-*/
#university
{
    font-size: 77px;
    margin-bottom: -5px !important;
}
#timeline
{
    display: flex;
    justify-content: space-around;
    height: 755px;
    width: 890px;
    margin: auto;
}
#timeline i 
{
    color: #F7DAD9;
    display: flex;
    justify-content: center;
    border: 2px solid white;
}
#point_hidden{
    visibility: hidden;
}
#point_diplome{
    margin-top: 105px;
}
#point_experience{
    margin-top: 164px;
}
#point_freelance{
    margin-top: 171px;
}
#carree_gauche{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#carree_droite{
    display: flex;
    align-items: center;
}
.trait_timeline
{
    background-color: #707070;
    width: 7px;
    height: 12.2em;
    margin: auto;
    height: 692px;
}
#div_diplome
{
    background-color: #F7DAD9;
    width: 345px;
    height: 177px;
    top: 223px;
    left: 115px;
    border-radius: 11px;
}
#div_experience
{
    background-color: #F7DAD9;
    width: 345px;
    height: 177px;
    left: 561px;
    top: 492px;
    border-radius: 11px;
}
#div_freelance
{
    background-color: #F7DAD9;
    width: 345px;
    height: 177px;
    left: 115px;
    top: 670px;
    border-radius: 11px;
}
.titre_rose{
    background-color: #F7DAD9;
}
.details_gris{
    background-color: #707070;
    height: 110px;
    padding: 1px;
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
    position: relative;
}
.niveau
{
    margin-left : 14px;
    color: #FFFEFC;
    font-family: 'Raleway', sans-serif;
}
.date
{
    color: #FFFEFC;
    margin-left: 14px;
    font-family: 'Raleway', sans-serif;
    margin-top: -6px;
    font-family: 'Raleway', sans-serif;
}
#polygone_droite
{
    width: 25px;
    left: 344px;
    top: 20px;
    position: absolute;
    color: #707070;
}
#polygone_experience
{
    width: 25px;
    position: absolute;
    right: 345px;
    top: 19px;
    transform: rotate(180deg);
}
#polygone_freelance
{
    width: 25PX;
    position: absolute;
    left: 345px;
    top: 20px;
}
#polygone
{
    margin: auto;
    display: flex;
}
/*------*/
/*-Partie compétence-*/
#mes_competences{
    display: flex;
    justify-content: space-around;
    margin-top: 82px;
    font-family: 'Poiret One';
}
#mes_competences p{
    font-family: 'Poiret One';
    margin-left: 30px;
    font-size: 21px;
    font-weight: normal;
}
i.fas.fa-diamond{
    display: flex;
    align-items: center;
    margin-left: 118px;
    height: 33px;
}
.cadres_competences{    
    display: flex;
    flex-direction: column;
    border: solid #F7DAD9;
    width: 422px;
    height: 453px;
    align-items: center;
    color : #707070;
}
.cadres_competences img{
    width: 100px;
}
.liste_competences{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 422px;
    height: 273px;
}
/*---*/
/*-Footer-*/
footer{
    background-color: #F7DAD9;
    width: 100%;
    margin-top: 83px;
    height: 106px;
}
#contenu_footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -62px;
}
#lien_contact{
    width: 321px;
    height: 88px;
    box-shadow: #707070 2px 2px 10px 0px;
    background-color: white;
    transform: translateY(-50%);
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    font-family: 'Poiret One';
    text-decoration: none;
    color: black;
    font-size: 24px;
}
#lien_contact:hover{
    transform: translateY(-50%) scale(1.2);
    transition: 0.5s;
}
#icones i{
    color: #707070;
    font-size: 53px;
    margin-left: 21px;
}
i.fab.fa-linkedin{
    margin-right: 20px;
}
#liens a{
    color: #707070;
    font-family: 'Poiret One';
    font-size: 28px;
    margin-left: 20px;
}
#liens{
    display: flex;
    flex-direction: column;
}
/*---------PAGE MES PROJETS-------------------*/
#titre_projets{
    margin-left: 134px;
}
.projets{
    width: 409px;
    border-radius: 10px;
    background-color: #707070;
    box-shadow: 0px 1px 20px -7px;
    cursor: pointer;
}
.filtre_img{
    height: 209px;
    position: relative;
}
.projets img{
    width: 409px;
    height: 209px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.texte_projets{
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 31px;
    margin-left: 31px;
}
.texte_projets i, .texte_projets p{
    display: flex;
    align-items: flex-end;
}
.texte_projets i{
    font-weight: bolder;
}
.langage{
    color: white;
    background-color: #707070;
    border-radius: 3px;
    width: 55px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poiret One';
    margin-right: 7px;
    margin-right: 4px;
}
#taille_wordpress{
    width: 86px;
}
.filtre_img p{
    position: absolute;
    top: 44px;
    margin: auto;
    font-family: 'Raleway', sans-serif;
    color: #707070;
    width: 302px;
    margin-left: 47px;
    display: none;
}
.langages_prog{
    position: absolute;
    top: 173px;
    right: 9px;
    display: flex;
    display: none;
}
.projets:hover .filtre_img{
    background-color: #F7DAD9;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    height: 209px;
    transition: 0.5s;
}
.projets:hover .filtre_img img{
    opacity: 0.1;
}
.projets:hover .filtre_img p{
    display: block;
}
.filtre_img img{
    transition: .25s;
}
.projets:hover .langages_prog{
    display: flex;
}
aside{
    display: flex;
    justify-content: space-around;
    margin-top: 35px !important;
    width: 937px;
    margin: auto;
}
aside a{
        color: #707070;
        text-decoration: none;
}
#destock{
    display: block;
}
#mobile{
    display: none;
}

/*--------------------PAGE CONTACT-------------------*/
#message_popUp{
    color: #707070;
    font-family: 'Poiret One';
    background-color: #F7DAD9;
    font-size: 23px;
    margin-left: 89px;
    width: 321px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}
#titre_contact{
    margin-top: 34px;
    margin-left: 149px;
}
#formulaire_carte{
    margin: auto;
    display: flex;
    justify-content: space-around;
    width: 65%;
    margin-bottom: 8%;
}
#carte iframe{
    width: 420px;
    height: 204px;
}
#carte{
    border: 2px solid #F2CBCA;
    height: 204px;
    margin: auto;
}
input#nom, input#prenom, input#email, textarea#message, #formulaire button{
    font-family: 'Poiret One';
    background-color: #F7DAD9;
    border: none;
    border-radius: 5px;
    text-indent: 10px;
}
#formulaire *::placeholder{
    color: #707070;
    font-size: 23px;
}
#nom, #prenom{
    width: 204px;
    height: 50px;
}
#email{
    width: 450px;
    height: 50px;
}
#message{
    width: 450px;
    height: 200px;
}
#formulaire form{
    height: 434px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#nom_prenom{
    display: flex;
    justify-content: space-between;
}
#formulaire button{
    width: 157px;
    height: 58px;
    cursor: pointer;
}
i.fas.fa-paper-plane{
    color: #707070;
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    font-size: 26px;
    height: 58px;
    align-items: center;
}
#placement_button{
    display: flex;
    justify-content: flex-end;
}
#placement_button p{
       font-family: 'Poiret One';
       font-weight: normal;
}

/*-------------------PAGE connexion au panel administrateur---------*/
#titre_admin{
    margin-bottom: 103px;
    margin-left: 134px;
}
#titre_admin .trait_titre{
    width: 371px;
}
input#pseudo, input#mdp{
    border: none;
    background-color: #F7DAD9;
    border-radius: 5px;
    height: 58px;
    width: 454px;
    text-indent: 10px;
}
#submit_connexion{
    background-color: #F7DAD9;
    border: none;
    width: 148px;
    height: 46px;
    border-radius: 8px;
    color: #707070;
    font-family: 'Poiret One';
    font-size: 21px;
    cursor: pointer;
}
#form_connexion{
    display: flex;
    flex-direction: column;
    height: 250px;
    align-items: center;
    justify-content: space-around;
    
}
#form_connexion *::placeholder{
    color: #707070;
    font-size: 23px;
    font-family: 'Poiret One';
    margin-left: 20px;
}
/*------------------PAGE D'ADMINISTRATEUR----------------*/
#body{
    background-color: #F2CBCA;
    display: flex;
    margin: 0;
}

.tableau{
    margin-left: auto;
    margin-right: auto;
}
.page_admin{
    background-color: #F7DAD9;
    margin: 0;
    position: relative;
}
.panel{
    background-color: #707070;
    width: 80px;
    height: 907px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#message_non_lu {
    width: 10px;
    height: 10px;
    background-color: #707070;
    border-radius: 100%;
    margin: auto;
}
table{
    display: flex;
    justify-content: center;
    border-collapse: collapse;
    font-family: 'Poiret One';
    font-size: 20px;
    padding-top: 70px;
}
i.fas.fa-home, i.fas.fa-sign-out-alt {
    color: #F7DAD9;
    font-size: 44px;
    margin-top: 20px;
    margin-bottom: 20px;
}
i.fas.fa-trash {
    color: #b51717;
}
th{
    background-color: #707070;
    color: white;
    height: 37px;
    text-align: initial;
}
tr{
    background-color: white;
    height: 33px;
}
th:nth-child(1){
    width: 33px;
    border-top-left-radius: 10px;
}
th:nth-child(2){
    width: 232px;
}
th:nth-child(3){
    width: 232px;
}
th:nth-child(4){
    width: 232px;
}
th:nth-child(5){
    width: 29px;
    border-top-right-radius: 10px;
}
tr:nth-child(odd){
    background-color: #e6e6e6;
}
tr:nth-child(even){
    background-color: white;
}
td a{
    text-decoration: none;
    color: #707070;
}

/*--------------------PAGE AFFICHE LES MESSAGES ADMIN -----------*/
#message_affiche{
    display: flex;
    flex-direction: column;
    height: 677px;
    width: 982px;
    background-color: white;
    margin-top: 86px;
    border-radius: 11px;
    font-family: 'Poiret One';
    position: relative;
}
#message_affiche i{
    color: #707070;
    font-size: 70px;
}
#message_affiche p{
    font-size: 27px;
    margin-left: 30px;
    color: #707070;
}
#message_affiche a{
    position: absolute;
    right: 62px;
    top: 32px;
}
.ligne{
    display: flex;
    height: 65px;
}
.gras{
    font-weight: bold;
}
#texte{
    background-color: #e4e4e4;
    width: 939px;
    height: 354px;
    margin-left: auto;
    margin-right: auto;
}
/*-----------Page Mention Légales-------*/
#mentionLegales{
    width: 93%;
    color: #707070;
    margin: auto;
}
#mentionLegales p {
    font-family: 'Poiret One';
    color: 707070;
    margin-left: 15px;
    font-size: 17px;
}
#mentionLegales h1{
    font-family: 'Poiret One';
}


/*---------------RESPONSIVES-------------------*/
@media screen and (max-width: 1024px) {

    /*Page d'accueil*/
    span {
        font-family: 'Poiret One';
        float: none;
        font-size: initial;
        MARGIN-RIGHT: initial;
        margin-bottom: initial;
        height: initial;
    }
    #logo {
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 534px;
    }
    #titre_accueil h1{
        font-size: 28px;
    }
    #titre_accueil p{
        font-size: 23px;
    }
    #fleur_gauche{
        width: 247px;
        top: 163px;
        z-index: -1;
    }
    #fleur_droite{
        top: 634px;
        width: 266px;
        z-index: -1;
    }

    /*Page a propo de moi*/
    #retour_accueil{
        display: flex;
        justify-content: center;
    }
    .fleche_retour{
        text-decoration: none;
    }
    #deco_titre{
        width: 50%;
        display: flex;
        margin: auto;
    }
    #img_passion{
        display: none;
    }
    #passion p{
        position: initial;
        width: 93%;
        font-size: 22px;
        display: flex;
        justify-content: center;
        margin: auto;
    }
    #passion{
        height: initial;
    }
    #timeline h2{
        margin-left: 0;
        font-size: 40px;
    }
    .titre_souligner_parcour, #titre_competences{
        margin-left: 2%;
    }
    #div_diplome, #div_experience, #div_freelance{
        position: initial;
        width: initial;
        height: initial;
        margin-top: 5px;
        margin-bottom: 5px;
        width: 305px;
        margin: auto;
    }
    .titre_rose{
        border-radius: 11px;
        display: flex;
    }
    #polygone_droite, #polygone_gauche, #polygone_experience, #polygone_freelance{
        display: none;
    }
    #timeline i{
        display: none;
    }
    #university{
        display: flex !important;
    }
    .trait_timeline{
        height: 5.2em;
    }
    #titre_competences h2{
        margin-left: 0;
        font-size: 35px;
    }
    #mes_competences{
        display: initial;
    }
    .cadres_competences{
        margin-top: 11px;
        width: 305px;
        margin-right: auto;
        margin-left: auto;
    }
    #lien_contact{
        width: 259px;
        height: 45px;
    }
    #destock{
        display: none;
    }
    #mobile{
        display: block;
    }
    #timeline{
        display: initial;
        width: initial;
    }
    /*Page mes projets*/
    .fleche_accueil{
        text-decoration: none;
    }
    #titre_projets{
        margin: auto;
    }
    aside{
        display: initial;
    }
    .projets{
        width: 304px;
        margin-top: 27px;
        margin-left: auto;
        margin-right: auto;
        
    }
    .projets img{
        width: 304px;
    }
    .filtre_img p{
        margin-left: 3px;
    }

    /*Page contact*/
    #message_popUp{
        margin-left: initial;
    }
    #carte{
        display: none;
    }
    #titre_contact{
        margin-left: initial;
    }
    #titre_contact h1, #titre_contact p{
        font-size: 29px;
    }
    #formulaire_carte {
         margin: auto; 
         display: initial; 
         width: initial; 
    }
    #email, #message{
        width: 300px;
    }
    #nom, #prenom {
        width: 142px;
    }
    #nom_prenom{
        width: 300px;
    }
    #formulaire{
        margin-top: 25px;
    }
    #formulaire form{
        align-items: center;
    }
    /*PAGE connexion au panel administrateur*/
    #titre_admin{
        margin-left: initial; 
        margin-bottom: 66px;
    }
    #titre_admin h1{
        font-size: 33px;
    }
    #titre_admin .trait_titre{
        width: 189px;
    }
    input#pseudo, input#mdp{
        width: 295px;
    }

    /*Page admin*/
    #body{
        display: initial;
    }
    .panel{
        width: initial;
        height: initial;
        position: initial;
        flex-direction: initial;
        justify-content: space-around;
    }
    /*affichage message*/
    .gras{
        margin-left: initial;
    }
    #message_affiche{
        width: initial;
    }
    #message_affiche a{
        display: flex;
        justify-content: center;
        text-decoration: none;
        position: initial;
    }
    #texte{
        width: initial;
        margin-left: initial;
        margin-right: initial;
    }
    /*Page Mention Légales*/
    #mentionLegales{
        width: initial;
    }
    /*footer responsive*/
    #contenu_footer{
        margin-top: initial;
    }
    #liens a{
        font-size: 20px;
    }
    #icones i{
        font-size: 37px;
    }

}


